@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}<body>
<style>
.pau{text-shadow: 2px 2px 5px blue;
font-size:60px;
text-align:center;
}

</style>
</body>
<div class="text-center">
    <h2 class="pau">Pantawid Pamilyang Pilipino Program</h2>
    <h2 class="pau">Information System</h2>
   
</div>
